{% load static %}
<!doctype html>
<head>
    <title>Weigand's Website</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon"href="{% static 'favicon.ico' %}">
</head>
<html>
   <body>
     <main>
          <!-- OVERLAY -->
    <div id="intro-overlay">
        <div class="overlay-box">
            <h3>Welcome</h3>
            <p class="text-muted mb-3">Choose an option to continue</p>

            <div class="overlay-buttons d-grid">
                <button class="btn btn-primary" onclick="overlayAction('one')">Guest</button>
                <button class="btn btn-secondary">Potential Employer</button>
                <button class="btn btn-info text-white">Admin</button>
            </div>
        </div>
    </div>

        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'images/azure-icon.svg' %}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to Matt Weigand's Resume Application</h1>            
          </div>
        <form method="post" action="hello">
            {% csrf_token %}
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Please hit 'See Resume' button</label>           
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">See Resume</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>

<script>
    function overlayAction(option) {
        console.log("User clicked: " + option);
         document.getElementById("intro-overlay").style.display = "none";
    }
</script>